/* ---------------------------------------------------
main parts
--------------------------------------------------- */
#map{
    width: 100%;
    height: 100%;
}

  /* jqeury ui */
  .ui-dialog { 
    z-index: 1100 !important;
}
.ui-dialog .ui-dialog-titlebar{
    color: #fff;
    background: #087aa3;
}

/* input type radio default */
input[type='radio'] {
    margin-right: 15px;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background: #056172;
}

/* input type checkbox default */
input[type='checkbox'] {
    margin-right: 15px;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}
input[type='checkbox']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
input[type='checkbox']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
}
input[type='checkbox']:checked:before {
    background: #056172;
}

/* --------------------------------------------
Other options
-------------------------------------------- */
/* Leaflet control scale  */
.leaflet-control-scale-line{
    color: #fff;
    background-color: #087aa3;
    border: 1px solid #fff;
}
.leaflet-control-attribution {
    color: #fff;
    background-color: #087aa3 !important;
    border: 1px solid #fff;
}
.leaflet-control-attribution a{
    color: #fff;
}

/* osm geocoder */
.leaflet-control-geocoder {
    margin: 0 !important;
    position: fixed;
    top: 0;
    left: 165px;
    z-index: 1000;
}
.leaflet-control-geocoder input[type="text"], textarea {
    background-color : #fff; 
  }
  .leaflet-control-geocoder .fas:hover{
      background-color: #056172;
  }

/* Leaflet measure */
.leaflet-control-measure {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 20px;
    background-color: #d3e5e9;
    color: #087aa3;
}
.leaflet-control-measure a{
    color: aliceblue;
}

/* navbar */
.nav-web{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #087aa3;
}
.nav-web .fas{
    font-size: 1.5rem;
    padding: 15px;
    color: #ffffff;
    border-right: 2px solid #fff;
}
.nav-web .fas:hover, .fas:active, .fas:focus{
    background-color: #056172;
}

/* side-bar control */
.side-control{
    margin: 0px;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 1000;
}
.side-control .fas, .side-control .far{
    display: block;
    font-size: 2rem;
    padding: 10px;
    margin: 1px 0 0 0;
    cursor: pointer;
    background-color: #087aa3;
    color: #ffffff;
}
.side-control .fas:hover, .side-control .far:hover{
    background-color: #056172;
}

/* side-content */
.option-content{
    display: none;
    text-transform: uppercase;
    z-index: 1100;
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.option-content .title{
    background-color: #087aa3;
    padding: 10px;
}
.option-content .fas{
    font-size: 1.3rem;
    padding-right: 1em;
}

/* Share map */
.share .share-link {
    color: #fff;
    padding: 5px 10px;
    background: #888;
    border: 1px solid #fff;
    border-radius: 5px;
}
.share .fab{
    font-size: 3rem;
    color: #087aa3;
    margin: 5px 10px;
}
.share .share-social-media {
    text-align: center; 
}
.share .fab:hover{
    color: #d5d5d5;
}

/* Show coordinate on mousemove */
.coordinate{
    background-color: #087aa3;
    color: #ffffff;
    width: 380px;
    text-align: center;
    height: 27px;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 1000;
    padding: 2px 10px 2px 10px;
    display: block;
    border: 1px solid #fff;
    border-radius: 50px;
}

/* Sidebar popup */
.addsidebar-popup{
    display: none;
    background: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 2000;
    border: 0.2px solid #000;
    -moz-box-shadow:    -2px 0 2px 0 #999;
    -webkit-box-shadow: -2px 0 2px 0 #999;
    box-shadow:         -2px 0 2px 0 #999;
}
.sidebar-header{
    position: relative;
    background: #087aa3;
    color: #fff;
    padding: 10px 5px;
}
.sidebar-header i.fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}
.sidebar-header h5{
    text-align: center;
    color: #fff;
}
.sidebar-header i.fa-info-circle {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
}
.clicked-coordinate{
    text-align: center;
    padding: 30px;
}
.sidebar-info{
    margin: 20px;
}

/*sidebar layer-control*/
#sidebar-layer-control{
    /* display: none; */
    background: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    height: 97%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2000;
    border: 0.2px solid #000;
    border-radius: 0 0 0 50px;
    -moz-box-shadow:    -5px 3px 20px 0 #999;
    -webkit-box-shadow: -5px 3px 20px 0 #999;
    box-shadow:         -5px 3px 20px 0 #999;
}
.sidebar-layer-control-main-body{
    padding-right: 30px;
    width: 100%;
    margin: 20px;
}
.sidebar-layer-control-main-body input[type='text']{
    border: 1px solid #087aa3;
    border-radius: 50px;
}
.sidebar-layer-control-main-body .fas{
    font-size: 1.5rem;
    color: #087aa3;
}
.sidebar-layer-control-main-body .layer-selection{
    padding-bottom: 10px;
}
.sidebar-layer-control-main-body select, .sidebar-layer-control-main-body input[type=text] {
    width: 80%;
    margin: 0 20px 10px 0;
}
.layer-toggler{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.layer-toggler .fa-layer-group {
    color: #087aa3;
    font-size: 3.5rem;
}
.layer-toggler .fa-layer-group:hover, .layer-toggler .fa-layer-group:active, .layer-toggler .fa-layer-group.focus{
    color:#056172;
}