#map{
    width: 100%;
    height: 100%;
}

/* navbar */
.nav-web{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #087aa3;
}
.nav-web .fas{
    font-size: 1.5rem;
    padding: 15px;
    color: #ffffff;
    border-right: 2px solid #fff;
}
.nav-web .fas:hover, .fas:active, .fas:focus{
    background-color: #056172;
}

/* side-content */
.option-content{
    display: none;
    text-transform: uppercase;
    z-index: 1100;
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.option-content .title{
    background-color: #087aa3;
    padding: 10px;
}
.option-content .fas{
    font-size: 1.3rem;
    padding-right: 1em;
}

/* side-bar control */
.side-control{
    margin: 0px;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 1000;
}
.side-control .fas, .side-control .far{
    display: block;
    font-size: 2rem;
    padding: 10px;
    margin: 1px 0 0 0;
    cursor: pointer;
    background-color: #087aa3;
    color: #ffffff;
}
.side-control .fas:hover, .side-control .far:hover{
    background-color: #056172;
}

/* osm geocoder */
.leaflet-control-geocoder {
    margin: 0 !important;
    position: fixed;
    top: 0;
    left: 165px;
    z-index: 1000;
}
.leaflet-control-geocoder input[type="text"], textarea {
    background-color : #fff; 
  }
  .leaflet-control-geocoder .fas:hover{
      background-color: #056172;
  }

  /* jqeury ui */
.ui-dialog { 
    z-index: 1100 !important;
}
.ui-dialog .ui-dialog-titlebar{
    color: #fff;
    background: #087aa3;
}

/* Leaflet measure */
.leaflet-control-measure {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #d3e5e9;
    color: #087aa3;
}
.leaflet-control-measure a{
    color: aliceblue;
}

/* Show coordinate on mousemove */
.coordinate{
    background-color: #087aa3;
    color: #ffffff;
    width: 380px;
    text-align: center;
    height: 27px;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 1000;
    padding: 2px 10px 2px 10px;
    display: block;
    border: 1px solid #fff;
    border-radius: 50px;
}

/* Leaflet control scale  */
.leaflet-control-scale-line{
    color: #fff;
    background-color: #087aa3;
    border: 1px solid #fff;
}
.leaflet-control-attribution {
    color: #fff;
    background-color: #087aa3 !important;
    border: 1px solid #fff;
}
.leaflet-control-attribution a{
    color: #fff;
}

/* Share map */
.share .share-link {
    color: #fff;
    padding: 5px 10px;
    background: #888;
    border: 1px solid #fff;
    border-radius: 5px;
}
.share .fab{
    font-size: 3rem;
    color: #087aa3;
    margin: 5px 10px;
    /* padding: 5px 10px; */
    /* background-color: #087aa3; */
}
.share .share-social-media {
    text-align: center; 
}
.share .fab:hover{
    color: #d5d5d5;
}

/* Sidebar popup */
.addsidebar-popup{
    display: none;
    background: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 2000;
    border: 0.2px solid #000;
    -moz-box-shadow:    -2px 0 2px 0 #999;
    -webkit-box-shadow: -2px 0 2px 0 #999;
    box-shadow:         -2px 0 2px 0 #999;
}
.sidebar-header{
    position: relative;
    background: #087aa3;
    color: #fff;
    padding: 10px 5px;
}
.sidebar-header i.fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
}
.sidebar-header h3{
    text-align: center;
    color: #fff;
}
.sidebar-header i.fa-info-circle {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
}
.clicked-coordinate{
    text-align: center;
    padding: 30px;
}
.sidebar-info{
    margin: 20px;
}

/*sidebar layer-control*/
#sidebar-layer-control{
    /* display: none; */
    background: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 2000;
    border: 0.2px solid #000;
    -moz-box-shadow:    -2px 0 2px 0 #999;
    -webkit-box-shadow: -2px 0 2px 0 #999;
    box-shadow:         -2px 0 2px 0 #999;
}
.sidebar-layer-control-main-body{
    width: 100%;
    margin-left: 20px;
}
.sidebar-layer-control-main-body select, .sidebar-layer-control-main-body input[type=text] {
    width: 80%;
    margin: 0 20px 10px 0;
}

input[type='radio'] {
    font-size: 1.5rem;
    color: #087aa3;
    background: #056172;
}
input[type='radio']:hover {
    color:#ccc;
}