@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
html, body {
    width: 100%;
    height: 100%;
    font: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif;
    color: #888888;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
    color: #087aa3;
}

h1 {
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #3cb04a;
    font-size: 24px;
    color: #333333;
    padding-bottom: 10px;
    font-weight: bold;
}

.margin{
    margin-top: 100px;
}
.padding{
    padding-top: 30px;
}
img{
    width: 100%;
}
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a{
    color: #087aa3;
}
a:hover, a:active, a:focus{
    color: #056172;
}
a, a:hover, a:focus { 
	text-decoration: none; 
	-webkit-transition: all 150ms ease-in; 
	-moz-transition: all 150ms ease-in; 
	-o-transition: all 150ms ease-in; 
	transition: all 150ms ease-in;
}

/* NavBar */
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0 5px 20px#000;
    font-size: 1.2rem;
}
.navbar-brand{
    font-size: 1.5rem;
}

/* side-content */
.option-content{
    display: none;
    text-transform: uppercase;
    z-index: 1100;
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.option-content .title{
    background-color: #087aa3;
    padding: 10px;
}

/* side-bar control */
.side-control{
    margin: 0px;
    position: fixed;
    top: 25%;
    /*bottom: 50%;*/
    left: 0;
    z-index: 1000;
}
.side-control .fas, .zoom-control .far{
    display: block;
    font-size: 2rem;
    padding: 10px;
    margin: 1px 0 0 0;
    cursor: pointer;
    background-color: #087aa3;
    color: #ffffff;
}

/* footer */
.footer{
    width: 100%;
    height: 30px;  
    position: fixed;
    bottom: 0;
    background: #fff;
    /* box-shadow: 0 -2px 8px #777; */
    padding-bottom: 10px;
}

.footer div{
    text-align: center;    
}
