{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block css %}
  <style>
  .main-body{
      text-align: center;
  }
  .padding{
      padding: 30px;
  }
  </style>
{% endblock css %}
{% block content %}
{% include "partials/_navindex.html" %}
<section class="main-body container-fluid margin">
    <div class="row">
        <div class="col-6">
            <h3>Utility Management System</h3>
            <i>"Smartness Comes with proper management of utility"</i>
            <div class="padding">
                In developing countries like ours where cities are not properly planned and organized, mapping of
                utilities sector can play a major role in the development of that country or place. Utilities like
                water lines, sewage system, telephone lines, internet lines, etc. are not properly documented and
                even if they are properly documented, they are in low quality maps. Reliable information regarding
                them can be of great help which can help in efficient service delivery. are not properly documented and
                even if they are properly documented, they are in low quality maps. Reliable information regarding
                them can be of great help which can help in efficient service delivery. Reliable information regarding
                them can be of great help which can help in efficient service delivery. 
            </div>
            <div>
                    <a href="{% url 'webmap' %}"><button class="btn btn-info">View Map</button></a>
                </div>
        </div>
        <div class="col-6">
            <img src="{% static 'img/housing_deep.jpg' %}" alt="">
        </div>
    </div>
    
</section>

{% include "partials/_footer.html" %}
{% endblock content %}