{% load static %}
<!-- bootstrap -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<!-- leaflet css -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<style>
  .nav-bar {
    z-index: 1100 !important;
  }

  .issue {
    margin-top: 120px;
  }

  .issue-body {
    padding-right: 50px;
  }

  .issue-1 {
    padding: 30px 0;
  }

  .sidebar-issue {
    padding: 20px 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
</style>

{% include "partials/_navindex.html" %}
<section class="container issue">
  <div class="row">
    <div class="col-8 issue-body">
      {% if issue %}
      <div class="issue-1">
        <h1>{{ issue.issue_header }}</h1>
        <p>
          <i>Issue created by: {{ issue.first_name }} {{ issue.last_name }} </i
          ><i>({{ issue.issue_date }})</i>
        </p>
        <p>{{ issue.issue_body }}</p>
        <div class="map" id="map" style="width: 100%; height: 300px;"></div>
        <a href="#" class="btn"
          ><button class="btn-info mt-3">Goto Web-map</button></a
        >
      </div>
      {% endif %}
    </div>
    <div class="col-4 sidebar-issue">
      <h3 class="sidebar-header">Top most issues</h3>
      <ul>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
        <a href="#">
          <li>Issue on pipeline</li>
        </a>
      </ul>
    </div>
  </div>
</section>
{% include "partials/_footer.html" %}

<!-- leaflet js -->
<script
  src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""
></script>
<script>

  //issue-map
  var map = L.map('map').setView([28.2521, 83.9774], 18);

  //map scale
  scale = L.control.scale().addTo(map),

      //osm baselayer
      osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);


  // circle marker style
  mystyle = {
      radius: 30,
      fillColor: "#ff7800",
      color: "#000",
      weight: 3,
      opacity: .7,
      fillOpacity: 0.5
  }

  var issueMarker = L.marker([
      {% if issue %}
  {{ issue.lat }}, {{ issue.lng }}
  {% endif %}
  ]).addTo(map).bindPopup(`{% if issue %}
  <h5>{{ issue.issue_header }}</h5></br> <b>coordinate: </br> lat: </b>{{ issue.lat }}</br><b>lng: </b>{{ issue.lng }}
  {% endif %}`).openPopup(),
      issueMarkerCircle = L.circleMarker([
          {% if issue %}
  {{ issue.lat }}, {{ issue.lng }}
  {% endif %}
      ], mystyle).addTo(map);
</script>
