{% extends "base.html" %}
{% load static %}
{% block title %} Webmap {% endblock title %}

{% block content %}
<!-- map view -->
<h1 class="title" leaflet-browser-print-content style="display: none;">Utility Management System: Deep Housing</h1>
<div id="map"></div>

{% include "map-control/_navbar.html" %}

{% include "map-control/functions.html" %}

{% include "map-control/add-vector.html" %}

{% include "map-control/share.html" %}

{% include "map-control/about.html" %}

{% include "map-control/side-control.html" %}

{% include "map-control/coordinate.html" %}

{% endblock content %}

{% block js %}
<script>

    function otherLayers() {
        $.getJSON("{% url 'boundary' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'boundarybuilding' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'park' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'swimmingpool' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'temple' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
    }
    // otherLayers()

    function waterLayer() {
        $.getJSON("{% url 'waternetwork' %}", function (data) {
            var waterNetwork1 = L.geoJSON(data, {
                onEachFeature: function (feature, layer) {
                    layer.on({
                        click: function (e) {
                            popupContents(e);
                            $('.sidebar-info').html(`<h4>Water Network</h4>
                <div class="container"><table class="table table-striped">
                <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                <tbody><tr><td> Type </td><td> ${feature.properties.line_type}</td></tr>
                '<tr><td> Pipe diameter(cm) </td><td>${feature.properties.pip_dia_in}</td></tr>`)
                        }
                    })
                },
            });
            var waterNetwork = new L.layerGroup().addLayer(waterNetwork1)
            $(".water-supply").click(function () {
                if ($(this).prop('checked') == true) {
                    map.addLayer(waterNetwork);
                } else if ($(this).prop('checked') == false) {
                    map.removeLayer(waterNetwork);
                }
            });
        })
    }
    waterLayer()




</script>
{% endblock js %}