{% extends "base.html" %}
{% load static %}
{% block title %} Webmap {% endblock title %}

{% block content %}
<!-- map view -->
<h1 class="title" leaflet-browser-print-content style="display: none;">Utility Management System: Deep Housing</h1>
<div id="map"></div>

{% include "map-control/_navbar.html" %}

{% include "map-control/functions.html" %}

{% include "map-control/add-vector.html" %}

{% include "map-control/share.html" %}

{% include "map-control/about.html" %}

{% include "map-control/side-control.html" %}

{% include "map-control/coordinate.html" %}

{% endblock content %}

{% block js %}
<script>

    function otherLayers() {
        $.getJSON("{% url 'boundary' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'boundarybuilding' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'park' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'swimmingpool' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
        $.getJSON("{% url 'temple' %}", function (data) {
            L.geoJSON(data).addTo(map);
        });
    }
otherLayers()




</script>
{% endblock js %}