{% extends "base.html" %}
{% load static %}
{% block title %} Webmap {% endblock title %}

{% block content %}
<!-- map view -->
<h1 class="title" leaflet-browser-print-content style="display: none;">Utility Management System: Deep Housing</h1>
<div id="map"></div>

{% include "map-control/_navbar.html" %}

{% include "map-control/functions.html" %}

{% include "map-control/add-vector.html" %}

{% include "map-control/share.html" %}

{% include "map-control/about.html" %}

{% include "map-control/side-control.html" %}

{% include "map-control/coordinate.html" %}

{% endblock content %}

{% block js %}
<script>

    var waterNetworkStyle = {
        stroke: '#452',
        color: '#579fbe',
        weight: 1
    },
        boundaryStyle = {
            color: '#777',
            weight: .7,
            fill: false
        },
        boundarybuildingStyle = {
            color: 'red',
            weight: 0.5,
        },
        parkStyle = {
            color: 'green',
            weight: 1,
            fill: 'green',
        },
        swimmingpollStyle = {
            color: 'blue',
            weight: .5,
            fill: 'blue'
        },
        templeStyle = {
            color: 'red',
            weight: .5,
            fill: 'red',
        },
        houseStyle = {
            color: 'gray',
            fill: 'gray',
            weight: 1,
        },
        sanitaryStyle = {
            color: 'yellow',
            weight: 1
        },
        sanitaryjunctionpointStyle = {
            radius: 4,
            color: 'black',
            fillColor: 'red',
            weight: 1,
            opacity: 1,
            fillOpacity: .8,
        },
        roadStyle = {
            color: 'black',
            weight: 2,
            dashArray: '5,10'
        },
        electricalLine = {
            color: 'red',
            weight: 1,
        },
        telephoneStyle = {
            color: 'green',
            weight: 1
        },
        drainageStyle = {
            color: 'red',
            weight: 2,
        },
        outletValveStyle = {
            color: 'green',
            weight: 1,
            radius: 3,
        },
        manholeStyle = {
            color: 'blue',
            weight: 2,
            readius: 4,
        }

    function otherLayers() {
        $.getJSON("{% url 'boundary' %}", function (data) {
            var boundary1 = L.geoJSON(data, {
                style: boundaryStyle,
            });
            var layer = new L.layerGroup().addLayer(boundary1),
                selector = $('.boundary')
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
        });
        $.getJSON("{% url 'boundarybuilding' %}", function (data) {
            var boundarybuilding1 = L.geoJSON(data, {
                style: boundarybuildingStyle
            });
            var layer = new L.layerGroup().addLayer(boundarybuilding1)
            selector = $('.boundary-building')
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
        });
        $.getJSON("{% url 'park' %}", function (data) {
            let park = L.geoJSON(data, {
                style: parkStyle
            });
            let selector = $('.park'),
                layer = new L.layerGroup().addLayer(park)
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
        });
        $.getJSON("{% url 'swimmingpool' %}", function (data) {
            let swimmingpool = L.geoJSON(data, {
                style: swimmingpollStyle
            });
            let selector = $('.swimming-pool'),
                layer = new L.layerGroup().addLayer(swimmingpool)
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
        });
        $.getJSON("{% url 'temple' %}", function (data) {
            let temple = L.geoJSON(data, {
                style: templeStyle
            });
            let selector = $('.temple'),
                layer = new L.layerGroup().addLayer(temple)
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
        });
    }
    otherLayers()

    // Water layer manage
    $.getJSON("{% url 'waternetwork' %}", function (data) {
        var waterNetwork1 = L.geoJSON(data, {
            style: waterNetworkStyle,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Water Network</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> Type </td><td> ${feature.properties.line_type}</td></tr>
                            <tr><td> Pipe diameter(cm) </td><td>${feature.properties.pip_dia_in}</td></tr>`)
                    }
                })
            },
        });
        var layer = new L.layerGroup().addLayer(waterNetwork1),
            selector = $('.water-supply')
        layerToggler(selector, layer)
        removeAllUtilitiesLayer(layer)
    })


    //house dataset
    $.getJSON("{% url 'house' %}", function (data) {
        var houselayer1 = L.geoJSON(data, {
            style: houseStyle,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Building</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> id </td><td> ${feature.properties.pk}</td></tr>
                            <tr><td> Current Resident </td><td>${feature.properties.curr_resid}</td></tr>
                            <tr><td> House type </td><td>${feature.properties.house_type}</td></tr>
                            <tr><td> Area (sq.m) </td><td>${feature.properties.area_sq_m_field}</td></tr>
                            <tr><td> Permanent </td><td>${feature.properties.permanent}</td></tr>
                            <tr><td> Plot number </td><td>${feature.properties.plot_no}</td></tr>`)

                    }
                })
            }
        });
        var layer = new L.layerGroup().addLayer(houselayer1),
            selector = $('.building')
        layerToggler(selector, layer)
        removeAllUtilitiesLayer(layer)
        addDefaultUtilitiesLayer(layer)
    })


    //sanitary layer
    $.getJSON("{% url 'sanitary' %}", function (data) {
        var sanitary = L.geoJSON(data, {
            style: sanitaryStyle,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Sanitary</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> id </td><td> ${feature.properties.pk}</td></tr>
                            <tr><td> Type </td><td>${feature.properties.type}</td></tr>
                            <tr><td> Pipe Material </td><td>${feature.properties.pipe_mat}</td></tr>
                            <tr><td> Diameter of Pipe (cm) </td><td>${feature.properties.diamr_mm_field}</td></tr>
                            <tr><td> Trench Depth </td><td>${feature.properties.trench_dep}</td></tr>`)

                    }
                })
            }
        });
        //sanitary junction point
        $.getJSON("{% url 'sanitaryjunctionpoint' %}", function (data) {
            let sanitaryjunctionpoint = L.geoJSON(data, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, sanitaryjunctionpointStyle);
                }
            });
            sanitaryjunctionpoint.addTo(sanitary)
            var layer = new L.layerGroup().addLayer(sanitary),
                selector = $('.sanitary')
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
            addDefaultUtilitiesLayer(layer)
        })
    })


        //drainage layer
        $.getJSON("{% url 'drainage' %}", function (data) {
        var drainage = L.geoJSON(data, {
            style: drainageStyle,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Sanitary</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> id </td><td> ${feature.properties.pk}</td></tr>
                            <tr><td> Type </td><td>${feature.properties.type}</td></tr>
                            <tr><td> Pipe Material </td><td>${feature.properties.pipe_mat}</td></tr>
                            <tr><td> Diameter of Pipe (cm) </td><td>${feature.properties.diamr_mm_field}</td></tr>
                            <tr><td> Trench Depth </td><td>${feature.properties.trench_dep}</td></tr>`)

                    }
                })
            }
        });
        //sanitary junction point
        $.getJSON("{% url 'sanitaryjunctionpoint' %}", function (data) {
            let sanitaryjunctionpoint = L.geoJSON(data, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, sanitaryjunctionpointStyle);
                }
            });
            sanitaryjunctionpoint.addTo(sanitary)
            var layer = new L.layerGroup().addLayer(sanitary),
                selector = $('.sanitary')
            layerToggler(selector, layer)
            removeAllUtilitiesLayer(layer)
            addDefaultUtilitiesLayer(layer)
        })
    })

    //Road Network
    $.getJSON("{% url 'road' %}", function (data) {
        var road = L.geoJSON(data, {
            style: roadStyle,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Road</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> id </td><td> ${feature.properties.pk}</td></tr>
                            <tr><td> Current Road Type </td><td>${feature.properties.road_type}</td></tr>
                            <tr><td> Road Segment </td><td>${feature.properties.road_typ_1}</td></tr>`)

                    }
                })
            }
        });
        var layer = new L.layerGroup().addLayer(road),
            selector = $('.road-network')
        layerToggler(selector, layer)
        removeAllUtilitiesLayer(layer)
        addDefaultUtilitiesLayer(layer)
    })

    //electrical line
    $.getJSON("{% url 'electrical' %}", function (data) {
        var electrical = L.geoJSON(data, {
            style: electricalLine,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Electrical Line</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> id </td><td> ${feature.properties.pk}</td></tr>
                            <tr><td> Line Type </td><td>${feature.properties.line_type}</td></tr>
                            <tr><td> Cable Type </td><td>${feature.properties.cable_type}</td></tr>
                            <tr><td> Pipe Cons. Material </td><td>${feature.properties.p_material}</td></tr>
                            <tr><td> Pipe Diameter(mm) </td><td>${feature.properties.p_dia_mm}</td></tr>
                            <tr><td> Phase Line </td><td>${feature.properties.phase_c}</td></tr>
                            <tr><td> Diameter of Electrical Conductor </td><td>${feature.properties.c_dia_mm}</td></tr>
                            <tr><td> Electrical Conductor Material </td><td>${feature.properties.c_material}</td></tr>`)
                    }
                })
            }
        });
        var layer = new L.layerGroup().addLayer(electrical),
            selector = $('.electrical-line')
        layerToggler(selector, layer)
        removeAllUtilitiesLayer(layer)
        addDefaultUtilitiesLayer(layer)
    })


    //telephone Internet layer
    $.getJSON("{% url 'telephoneinternet' %}", function (data) {
        var telephone = L.geoJSON(data, {
            style: telephoneStyle,
            onEachFeature: function (feature, layer) {
                layer.on({
                    click: function (e) {
                        popupContents(e);
                        $('.sidebar-info').html(`<h4>Telephone/Internet Layer</h4>
                            <div class="container"><table class="table table-striped">
                            <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                            <tbody><tr><td> id </td><td> ${feature.properties.pk}</td></tr>
                            <tr><td> Line Type </td><td>${feature.properties.line_type}</td></tr>
                            <tr><td> Cable Type </td><td>${feature.properties.cable_type}</td></tr>
                            <tr><td> Pipe Material </td><td>${feature.properties.p_material}</td></tr>
                            <tr><td> Pipe Diameter(mm) </td><td>${feature.properties.p_dia_mm}</td></tr>`)
                    }
                })
            }
        });
        var layer = new L.layerGroup().addLayer(telephone),
            selector = $('.telephone')
        layerToggler(selector, layer);
        removeAllUtilitiesLayer(layer)
        addDefaultUtilitiesLayer(layer)
    })




    // layer layerToggler
    function layerToggler(selector, layer) {
        selector.click(function () {
            if ($(this).prop('checked') === true) {
                map.addLayer(layer);
            } else if ($(this).prop('checked') === false) {
                map.removeLayer(layer);
            }
        });
    }

    //Clear utilities layers
    function removeAllUtilitiesLayer(layer) {
        $('.remove-all-utilities-layers').click(function () {
            map.removeLayer(layer)
        $('.street-light').prop('checked', false)
        $('.road-network').prop('checked', false)
        $('.drainage-line').prop('checked', false)
        $('.water-supply').prop('checked', false)
        $('.electrical-line').prop('checked', false)
        $('.telephone').prop('checked', false)
        $('.building').prop('checked', false)
        $('.sanitary').prop('checked', false)
        $('.boundary-building').prop('checked', false)
        $('.boundary').prop('checked', false)
        $('.swimming-pool').prop('checked', false)
        $('.park').prop('checked', false)
        $('.temple').prop('checked', false)
    })
    }

    // add default utilities layers
    function addDefaultUtilitiesLayer(layer) {
        $('.add-default-utilities-layer').click(function () {
            $('.building').prop('checked', true)
            $('.road-network').prop('checked', true)
            $('.water-supply').prop('checked', true)
            $('.sanitary').prop('checked', true)
            $('.electrical-line').prop('checked', true)
            $('.telephone').prop('checked', true)
            layer.addTo(map)
        })
    }

</script>
{% endblock js %}