<!-- about section -->
<section class="about-option" style="display: none" title="About">
    <h3>Utility Management System</h3>
    <div>
        In developing countries like ours where cities are not properly planned and organized, mapping of
        utilities sector can play a major role in the development of that country or place. Utilities like
        water lines, sewage system, telephone lines, internet lines, etc. are not properly documented and
        even if they are properly documented, they are in low quality maps. Reliable information regarding
        them can be of great help which can help in efficient service delivery.
    </div>
    <div>
        With the help of Geographic Information System (GIS) and other digital techniques, data can be
        visualized easily which can make tasks easy. Repairing and maintaining of utility lines can be
        carried efficiently in short period of time. Web based GIS contains information like building
        boundaries, electric lines, solar lines, etc. and with the help of proper tools, it can be used to
        visualize and maintain those information.
    </div>
</section>