<!-- option content in side -->
<div class="option-content col-2">
    <h5 class="title text-center text-light">Options</h5>
    <ul class="list-group">
        <a href="#">
            <li class="list-group-item print"><i class="fas fa-print"></i>Print</li>
        </a>
        <a href="#">
            <li class="list-group-item addVectorLayer_btn"><i class="fas fa-plus-square"></i>Add vector files
            </li>
        </a>
        <a href="#">
            <li class="list-group-item"><i class="fas fa-folder-open"></i>Catalog</li>
        </a>
        <a href="#">
            <li class="list-group-item measure-btn"><i class="fas fa-ruler-horizontal"></i>Measure</li>
        </a>
        <a href="#">
            <li class="list-group-item"><i class="fas fa-comment-alt"></i>Annotation</li>
        </a>
        <a href="#">
            <li class="list-group-item"><i class="fas fa-cog"></i>Settings</li>
        </a>
        <a href="#">
            <li class="list-group-item share-btn"><i class="fas fa-share-alt-square"></i>Share</li>
        </a>
        <a href="https://github.com/iamtekson/deep-housing-webGIS" target="_blank">
            <li class="list-group-item"><i class="fas fa-question-circle"></i>Docs</li>
        </a>
        <a href="#">
            <li class="list-group-item tutorial"><i class="fas fa-book-open"></i>Tutorial</li>
        </a>
        <a href="#">
            <li class="list-group-item about-btn"><i class="fas fa-info-circle"></i>About</li>
        </a>
    </ul>
</div>

<!-- Side-bar controls -->
<div class="side-control">
    <a href="#"><i class="fas fa-plus zoom-in" data-toggle='tooltip' data-placement='top' title='Zoom In'></i></a>
    <a href="#"><i class="fas fa-minus zoom-out" data-toggle='tooltip' data-placement='right' title='Zoom Out'></i></a>
    <a href="#"><i class="fas fa-compress extend" data-toggle='tooltip' data-placement='right'
            title='Zoom to layer'></i></a>
    <a href="#"><i class="fas fa-expand full-browser" data-toggle='tooltip' data-placement='right'
            title='Expand the full browser'></i></a>
    <a href="#"><i class="fas fa-cubes" data-toggle='tooltip' data-placement='right' title='view 3D layer'></i></a>
    <a href="#"><i class="fas fa-ruler-horizontal measure-btn" data-toggle='tooltip' data-placement='right'
            title='Measure length and area of the feature'></i></a>
    <a href="#"><i class="fas fa-map-marker-alt marker-add" data-toggle='tooltip' data-placement='right'
            title='Add a marker popup along with their respective lat and long'></i></a>
</div>