<!-- share this map -->
<section class="share" style="display: none" title="Share">
    <div>This is the Utility Management System of Deep Housing, Pokhara. If you want to share on any of the following
        platform, feel free!!!</div>
    <hr>
    <h6>Share this link</h6>
    <p class="col-12 share-link">https://deephousing.com/webgis</p>
    <hr>
    <h6>Share On</h6>
    <div class="share-social-media">
        <a href="#" onclick="window.open('http://www.facebook.com/share.php?u=' +
                encodeURIComponent(location.href))"><i class="fab fa-facebook"></i></a>
        <a href="#" onclick="window.open('https://twitter.com/intent/tweet' + encodeURIComponent(location.href))"><i
                class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://chillyfacts.com/create-linkedin-share-button-on-website-webpages&title=Create LinkedIn Share button on Website Webpages&summary=chillyfacts.com&source=Chillyfacts"
            onclick="window.open(this.href, 'mywin',
  'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-linkedin"></i></a>
    </div>
    <hr>
</section>